// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:300,400,700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/fa-solid';

@import "elements";
@import "components";
@import "utilities";

body.users-app {
  margin-top: 83px;
}

a {
  &.text-link {
    transition: color 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
}